!!! strict
%html{html_attrs}
	%head
		%title= yield(:title) || "Globe Gowaller"
		= stylesheet_link_tag 'application', 'formtastic'
		<script type="text/javascript" src="http://use.typekit.com/rfe1okw.js"></script> 
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		= yield :head
	%body
		- flash.each do |name, msg|
			%div{:id=>"flash_#{name}"}= msg
		#container
			%h1 Globe Gowaller
			- if show_title?
				%h2= yield :title
			= yield
			%p
				All the icons on this page are gently stolen from Alamofire's 
				%a(href="http://gowalla.com") Gowalla
				game without permission, hopefully they won't mind.
				%br
				And their copyright reads &copy; 2010 Alamofire, Inc.
				%br
				Listed by
				%a(href="http://olivierlacan.com") Olivier
				and coded by
				%a(href="http://andrew.im") Andrew.